*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
}

.chua-9{
	width: 100%;
	height: 100%;
	font-family: segoe ui;
}

.khoi-1{
	width: 100%;
	height: 656px;
	background-image:url('bg.jpg');
	background-size: cover;
	text-align: center;
}

.khoi-1 .text-1{
	font-size: 50px;
	color: black;
	padding-top: 25%;
}

.khoi-1 .text-2{
	font-size: 25px;
	color: black;
}

.khoi-1 .text-3{
	background-color: #502323;
	color: white;
	width: 150px;
	height:30px;
	font-size: 15px;
	line-height: 30px;
	margin: auto;
	margin-top: 20px;
	cursor:  pointer;
}

.nut-nho{
	position: fixed;
	top: 2px;
	right: 2px;
	width: 40px;
	height: 40px;
	color: #502323;
	font-size: 40px;
	line-height: 37px;
	cursor: pointer;
}

.nut-nho:hover{
	color: white;
}

.khoi-2{
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	right: -100%;
	background-color: #5f79ce;
	color: white;
	transition: cubic-bezier(0.64, 0.1, 0, 1.18) 1s;
}

.khoi-2 .text-4{
	width: 100%;
	height: 50px;
	font-size: 22px;
	padding: 10px;
	display: flex;
}

.khoi-2 .text-4 .trai-text{
	width: 90%;
	cursor: pointer;
}

.khoi-2 .text-4 .trai-text:hover{
	color: #62246b;
}

.khoi-2 .text-4 .phai-icon{
	width: 10%;
	float: right;
	cursor: pointer;
}

.khoi-2 .text-4 .phai-icon:hover{
	color: #62246b;
}

.khoi-2 a{
	text-decoration: none;
}
.khoi-2 ul{
	list-style: none;
	width: 100%;
}
.khoi-2 ul li{
	padding: 5px 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}

.khoi-2 ul li:hover{
	background-color: #9f5ca9;
}

.khoi-2 ul li:hover a{
	color: white;
}

.khoi-3{
	width: 100%;
	height: 220px;
	background-color: white;
	text-align: center;
}

.khoi-3 .text-5{
	font-size: 30px;
	color: black;
	padding-top: 60px;
}

.khoi-3 .text-6{
	font-size: 14px;
	color: gray;
}

.khoi-4{
	width: 100%;
	height: 500px;
	background-color: #337ab7;
	text-align: center;
	color: white;
	margin: auto;
}

.khoi-4 .text-7{
	font-size: 25px;
	width: 149px;
	padding-bottom: 20px;
	padding-top: 40px;
	border-bottom: 1px solid white;
	margin: auto;
}

.khoi-4 .chua-4{
	width: 100%;
	margin: auto;
}

.khoi-4 .mot-khoi{
	margin-top: 100px;
	width: 200px;
	height: 300px;
	display: inline-block;
}

.khoi-4 .khoi-icon{
	font-size: 60px;
}

.khoi-4 .khoi-name{
	font-size: 14px;
}

.khoi-4 .khoi-text{
	font-size: 14px;
}

.khoi-4 .khoi-nut{
	font-size: 18px;
	width: 100px;
	height: 27px;
	background-color: white;
	color: gray;
	margin:  auto;
}

.khoi-5{
	width: 100%;
	height: 300px;
	background-image: url('callout.jpg');
	background-size: cover;
	font-size: 60px;
	color: white;
	text-align: center;
	padding-top: 100px;
}

.khoi-6{
	width: 100%;
	height: 900px;
	background-color: white;
	text-align: center;
}

.khoi-6 .text-8{
	width: 200px;
	font-size: 20px;
	color: gray;
	padding-top: 50px;
	border-bottom: 1px solid gray;
	margin: auto;
}

.khoi-6 .chua-4-anh{
	width: 100%;
	height: 700px;
	padding-top: 35px;
}

.khoi-6 a{
	text-decoration: none;
}

.khoi-6 img{
	width: 500px;
	height: auto;
	padding: 10px;
}

.khoi-6 .nut{
	width: 150px;
	height: 30px;
	line-height: 30px;
	background-color: gray;
	color: white;
	margin: auto;
	margin-top: 50px;
}

.khoi-7{
	width: 100%;
	height: 300px;
	background-color: #337ab7;
}

.khoi-7 .text-9{
	text-align: center;
	font-size: 26px;
	color: white;
	padding-top: 50px;
}

.khoi-7 .chua-2-nut{
	text-align: center;
	margin-top: 40px;
	line-height: 50px;
}

.khoi-7 .nut-trai{
	width: 150px;
	height: 50px;
	color: white;
	background-color: black;
	text-align: center;
	display: inline-block;
}
.khoi-7 .nut-phai{
	width: 150px;
	height: 50px;
	color: black;
	background-color: white;
	text-align: center;
	display: inline-block;
}

.khoi-8{
	width: 100%;
	height: 400px;
	background-color: white;
	color: gray;
	text-align: center;
}

.text-10{
	font-size: 16px;
	padding-top: 100px;
}

.text-11{
	font-size: 13px;
	padding-bottom: 5px;
}

.text-12{
	font-size: 15px;
}

/*Phan tuong tac js*/
.khoi-2.khoi-2-ra{
	right: 0;
}